
key_manager.py
__pycache__/key_manager.cpython-39.pyc
encrypted/password
config.ini
encrypted/jellodog
do not stage/main.py
JelloPass.py
jellopass.key
/build
/dist
JelloPass.spec
test.py
Setup-exe/JelloPass.iss

Setup-exe/JelloPass.exe
snyk.exe
.dccache
/Setup-exe